<div>
    <div class="row">
        <div class="col-md-8">
            <h1><a href='/' target='_self'>Course Viewer</a></h1>
        </div>
        <div class="col-md-4">
            <span><user-status></user-status></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span><main-navigator></main-navigator></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ui-view></ui-view>
        </div>
    </div>  
</div>